<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.Product">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    product_id, product_name, category, image_url, price, stock, description, created_date, 
    last_modified_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.example.entity.Product">
    insert into product (product_id, product_name, category, 
      image_url, price, stock, 
      description, created_date, last_modified_date
      )
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{imageUrl,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, #{stock,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{lastModifiedDate,jdbcType=TIMESTAMP}
      )
  </insert>

  <!--获取所有商品 by wxl 2025715-->
  <select id="getProducts" parameterType="com.example.dto.ProductQueryParams" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product
    where 1=1
    <if test="category != null">
      and category = #{category,jdbcType=VARCHAR}
    </if>
    <if test="search != null">
      and product_name like '%${search}%'
    </if>
  </select>
  <!--获取所有商品 by wxl 2025715-->

  <!--根据id获取产品 by wxl 2025711-->
  <select id="getProductById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <!--根据id获取产品 by wxl 2025711-->

  <!--新增商品 by wxl 2025712-->
  <insert id="createProduct" parameterType="com.example.dto.ProductRequest" useGeneratedKeys="true" keyProperty="productId" keyColumn="product_id">
    insert into product (product_id, product_name, category,
                         image_url, price, stock,
                         description, created_date, last_modified_date
    )
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR},
            #{imageUrl,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, #{stock,jdbcType=INTEGER},
            #{description,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{lastModifiedDate,jdbcType=TIMESTAMP}
           )
  </insert>
  <!--新增商品 by wxl 2025712-->

  <!--修改商品 by wxl 2025714-->
  <update id="updateProduct" parameterType="com.example.dto.ProductRequest">
    update product
    set product_name = #{productName,jdbcType=VARCHAR},
        category = #{category,jdbcType=VARCHAR},
        image_url = #{imageUrl,jdbcType=VARCHAR},
        price = #{price,jdbcType=INTEGER},
        stock = #{stock,jdbcType=INTEGER},
        description = #{description,jdbcType=VARCHAR},
        last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <!--修改商品 by wxl 2025714-->

  <!--删除商品 by wxl 2025714-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <!--删除商品 by wxl 2025714-->

  <insert id="insertSelective" parameterType="com.example.entity.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="lastModifiedDate != null">
        last_modified_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedDate != null">
        #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.entity.Product">
    update product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedDate != null">
        last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.entity.Product">
    update product
    set product_name = #{productName,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      stock = #{stock,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
</mapper>